.productCard {
    width: 100%;
    margin: 12px;
    height: 270px;
    max-width: 235px;
}

.productDescription {
    margin-top: -5px;
    min-height: 80px;
}

.productPrice {
    margin-bottom: 6px;
}